body {
    background-color: #363332;
    height: 100%;
}

@font-face {
    font-family: myFirstFont;
    src: url(../fonts/RugeBoogie-Regular.ttf);
}

.container {
	margin-left: auto;
	margin-right: auto;
    width: 50%;
    height: 400px;
    position: relative;
    /*border: 1px solid blue; */
    color: white;
    font-size: 10vw;
    font-family: myFirstFont;

}
img {
	width: 100%;
	height: 100%;
	opacity: 0.7
}
    
.center {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   /*border: 1px solid red;*/
    text-align: center;
    line-height: 8vw;

   /*osition: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid yellow;
    transform: translate(-50%, -50%);
    width: 70%;
    font-style: 10vs;*/
}
span {
	padding: 10px;
}
.navigation {
	text-decoration: none;
	color: #0099ff;
	font-size: 1.5vw;
	font-weight: 700;
	padding-bottom: 5px;
}
.navigation:hover {
	border-bottom: 3px solid white;
}
.navbar {
    width: 50%;
   /* border: 1px solid green;*/
    display: flex;
    justify-content: center;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}