body {
	font-family: verdana;
}
.navbar-default {
	background-color: white;
	padding: 10px;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.11);

}

.navbar-default .navbar-nav>li>a {
	font-size: 16px;
    color: #34495e;
    font-weight: 600;
}

.navbar-default .nav li a:hover {
    color: #0095eb;
}

.section-common {
	padding: 110px 0 0px 0;
}

.container {
/*border: 1px solid blue;*/
}

#profile {
    /*background-color: orange;*/
    margin: 15px 10px;
    text-align: center;

}

#profile_pic {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	/*background-color: brown;*/
}

#profile_pic img {
	border-radius: 50%;
	width: 100%;
	height: 100%;
}

h1, h2, h3 {
	/*background-color: white;*/
	font-family: 'Montserrat', sans-serif;
}

#profile_content h2 {
	font-size: 3rem;
	    margin: 5px 0 10px 0;

}

#profile_content h3 {
	font-size: 1.75rem;
	font-weight: 400;
	 margin: 0px 0px 10px 0px;

}

#work .row {
	padding-bottom: 40px;
}

#profile ul {
	overflow: auto;
	display: inline-flex;
	flex-wrap: wrap;
	padding: 0px;
	
}

#profile ul li {
	list-style-type: none;
	float: left;
	padding: 10px;

}

#profile ul li a i {
	color: #0095eb;
	width: 50px;
	height: 50px;
	font-size: 40px;
}

h1 {
	font-size: 2.25 rem;
}

p {
	font-size: 1.5rem;
	font-family: inherit;
}

h3 {
	font-size: 20px;
	font-weight: 700;
}

#education {
	list-style: none;
}

#education li {
	/*border: 1px solid red;*/
	position: relative;
	margin-bottom: 5px;
	margin-left: -24px;
}
#education li span{
	padding-right: 25px;
}
#education li div {
	/*border: 1px solid brown;*/
	display: inline-block;
}

.fa-graduation-cap {
	position: absolute;
	top: 5px;
}

.college {
	font-size: 1.2rem;
	color: rgba(0,0,0,0.6);
}

#education li div p {
	/*border: 1px solid yellow;*/
	margin: 0px;
}

#project-container {
	padding: 10px;
}
.project-tab {
	width: 90%;
	height: 70px;
	border-radius: 25px;
	text-align: center;
	margin: 15px auto;
	display: block;
	outline: none;
}

.project-tab:hover {
	filter: brightness(80%);
}
.red {
	background-color: #FF4C3F;
}

.yellow {
	background-color: #FFC43D;
}

.blue {
	background-color: #1B9AAA;
}

.green {
	background-color: #06D6A0;
}

.orange {
	background-color: #F75C03;
}

.project-category {
	font-family: cursive;
	font-size: 27px;
	font-weight: 520;

}

.project-tech {
	font-size: 12px;
}

@media screen and (max-width: 600px) {
	.project-category {
		font-size: 16px;

	}
	.project-tech {
		font-size: 10px;
	}

}



.projects {
	padding: 20px;
	border-radius: 25px;
	background-color: #f3f3f3;
	display: none;
	width: 90%;
	margin: 10px auto;
}

.project-desc {
	background-color: inherit;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

.project-desc:hover {
	background-color: white;
}

.project-link {
	border: 1px solid #0095eb;
    display: inline-block;
    margin-top: 8px;
    padding: 10px;
    border-radius: 25px;


}

.project-link i {
	font-size: 40px;
	color: black;
}

.project-link a {
	display: flex;
	width: inherit;
	text-decoration: none;
	color: #0095eb;
	font-family: calibri;
	align-items: center;

}

.project-link-text {
	margin-left: 5px;
	font-size: 18px;
}

.project-link-container {
	margin-top: 5px
}

.google-maps {
	position: relative;
	overflow: hidden;
}
.google-maps iframe {
    top: 0;
    left: 0;
    width: 100% !important;
}